.code-editor {
    // box-sizing: border-box!important;
    // width: 100%!important;
    background: rgb(50, 42, 56);
    
    .editor, .editor textarea {
        background: rgb(50, 42, 56);
        overflow: auto;
        // height: 100%;
        width: 100%;
        max-width: 100%;
        box-sizing: border-box;
    }

    .editor div:first-child {
        // height: 100%;
    }
    
    .error {
        white-space: pre-wrap;
        word-break: keep-all;
        overflow-wrap: break-word;  
    }

    .display {
        display: none;
    }
}