@font-face {
    font-family: Obviously;
    src: url("../fonts/Obviously-Regular.otf") format("opentype");
}

@font-face {
    font-family: ObviouslyWide;
    src: url("../fonts/Obviously-Wide.otf") format("opentype");
}
