@import 'variables';
@import 'mixins';

.App {
    position: relative;
    width: 100vw;
    height: 100vh;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tutorial-page {
    position: relative;
    width: 100vw;
    height: 80%;
    padding: 60px;
    display: flex;

    .info {
        .instructions {
            @include block;
        }
        .code-editor {
            @include block;
        }
    }

    .visual {
        border-radius: 4px;
        margin: 20px;
        width: 100%;
        background: blue;
    }
}
