@import 'variables';
@import 'mixins';
@import 'fonts';

.App {
    position: relative;
    width: 100vw;
    height: 100vh;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #E3C5AC;
}

p {
    margin: 0px;
}

/*---------- HOMEPAGE ----------*/

.home-page, .completed-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: fade 1s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
    opacity: 0;
    margin-top: 60px;

    @keyframes fade {
        0%   {
            opacity: 0;
            margin-top: 60px;
        }
        100% {
            opacity: 1;
            margin-top: 0px;
        }
    }

    .emojis {
        font-size: 50px;
        margin: 0px;
    }

    .title {
        font-family: ObviouslyWide;
        font-size: 50px;
        color: white;
        margin: 20px 0px 26px 0px;
    }

    .subtitle {
        font-size: 14px;
        background: $primary-bg;
        color: $peach;
        border-radius: 6px;
        font-family: monospace;
        padding: 12px 20px;
        box-shadow: 0px 4px 10px -4px rgba(20,9,36,0.8);
    }

    a {
        text-decoration: none;
    }

    .start-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        border: solid 1px white;
        border-radius: 50%;
        width: 80px;
        height: 80px;
        margin: 30px 0px;
        transition: 0.2s;

        &:hover {
            background: $peach;
            margin: 20px 0px;
            width: 100px;
            height: 100px;
        }
    }

    .credits {
        position: fixed;
        bottom: 0px;
        margin: 40px;
        p {
            font-family: Obviously;
            color: white;
            margin: 4px;
        }
    }
}

/*---------- TUTORIAL PAGE ----------*/

.module-1 {
    background: #c1dbd7;
}

.module-2 {
    background: #dbd3d7;
}

.module-3 {
    background: #ebdac5;
}

.tutorial-page {
    position: relative;
    width: 100vw;
    height: 100%;
    top: 0px;
    padding: 0 60px;
    display: flex;
    transition: 1s;

    .mission {
        display: flex;
        text-align: left;
        background: rgba(50, 42, 56, 0.6);
        padding: 20px 40px;

        h2 {
            font-family: monospace;
            margin: 0px;
            margin-right: 18px;
            font-size: 15px;
        }
    }

    .info {
        position: relative;
        display: flex;
        margin: 20px 10px;
        align-items: center;
        flex-direction: column;
        flex-grow: 1;

        .inst-module-1 {
            background: #88b3ad;
        }

        .inst-module-2 {
            background: #997683;
        }

        .inst-module-3 {
            background: #c99b5f;
        }

        .instructions {
            position: relative;
            @include block;
            @include paragraph;
            padding: 0px;
            border-radius: 6px 6px 0px 0px;
            transition: 1s;

            .desc-btn {
                position: absolute;
                top: -2px;
                right: 10px;
                font-size: 12px;
                padding: 4px 10px;
                background: rgba(20, 9, 36, 0.1);
                box-shadow: none;
                border-radius: 4px;

                &:hover {
                    background: rgba(20, 9, 36, 0.2);
                    transform: none;
                }
            }

            .desc-container {
                transition: 1s;
                height: auto;
                overflow: hidden;
            }

            .hide-desc {
                height: 84px;
            }

            .explanation {
                padding: 25px 40px 32px 40px;
                h2 {
                    @include title;
                    margin: 0px;
                    margin-bottom: 15px;
                }

                p {
                    text-align: left;
                }

                span {
                    margin-top: 16px;
                    background: $primary-bg !important;
                    text-align: left;

                    code {
                        font-size: 14px !important;
                        padding: 8px 14px !important;
                    }
                }
            }
        }

        .toast {
            @include shadow-block;
            background: #eb7831;
            padding: 8px 16px;
            color: white;
            box-shadow: 0px 2px 8px -2px rgba(235, 120, 49,0.8);
            position: absolute;
            bottom: 60px;
            animation-name: toast-notif;
            animation-duration: 2s;
            animation-fill-mode: forwards;
            animation-timing-function: ease-in-out;
        }

        .pass {
            background: #3de396;
            box-shadow: 0px 2px 8px -2px rgba(61, 227, 150,0.8);
        }

        @keyframes toast-notif {
            0% {transform: translateY(0px); opacity: 0;}
            20% {transform: translateY(-10px); opacity: 1;}
            80% {transform: translateY(-10px); opacity: 1;}
            100%{transform: translateY(-20px); opacity: 0;}
        }

        .next-btn, button {
            outline: none;
            @include shadow-block;
            cursor: pointer;
            background: $primary-bg;
            color: white;
            border: none;
            margin-top: 12px;
            padding: 10px 20px;
            transition: 0.1s;

            &:hover {
                transform: translateY(-2px);
            }
        }

        .next-btn {
            margin-top: 20px;

            a {
                text-decoration: none;
                color: white;
            }
        }

        .code-editor {
            @include block;
            background: $primary-bg;
            border-radius: 0px 0px 6px 6px;
            height: 100%;
            width: 100%;
            flex-grow: 1;
            text-align: left;
            padding: 0px;
            overflow: scroll;

            .monaco-editor, .monaco-editor-background, .monaco-editor .margin, .minimap-decorations-layer {
                background: $primary-bg;
            }
        }

        .editor {
            padding: 10px 29px !important;
            font-size: 15px !important;
        }

        textarea, textarea:focus {
            outline: 0px;
        }

        .error {
            margin: 20px 40px;
        }
    }

    .visual {
        border-radius: 6px;
        margin: 20px 10px;
        width: 100%;
        background-color: #2179ad;
        background-image: linear-gradient(20deg, #2179ad 0%, #9edbd4 100%);
    }
}

.callout {
    background: $primary-bg;
    border-radius: 4px;
    display: flex;
    padding: 10px 12px;
    margin: 20px 0px;

    p {
        text-align: left;
        color: $peach;
        font-size: 14px;
        font-family: monospace;

        &:first-of-type {
            margin-right: 16px;
        }
    }
}

@keyframes grow {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

.appear {
  animation: grow;
  animation-duration: 0.5s;
}

/*---------- WORLD ----------*/
@keyframes worldgrow {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(0.75);
    }
}

@keyframes worldmove {
    0% {transform: translate(0px,0px) scale(0.75)}
    25% {transform: translate(0px,-20px) scale(0.75) }
    50% {transform: translate(0px, 0px) scale(0.75) }
    75% {transform: translate(0px,-20px) scale(0.75)}
    100%{transform: translate(0px,0px) scale(0.75)}
}

.world {
    transform: scale(0.75);
    animation: worldgrow 1s, worldmove 4s infinite;
    animation-delay: 0s, 1s;
}

@keyframes coronagrow {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(0.05);
    }
  }

@keyframes coronamove {
    0% {transform: translate(0px,0px) scale(0.05)}
    25% {transform: translate(0px,-5px) scale(0.05) }
    50% {transform: translate(0px, 0px) scale(0.05) }
    75% {transform: translate(0px,-5px) scale(0.05)}
    100%{transform: translate(0px,0px) scale(0.05)}
}

@keyframes spin {
    from {
        transform:scale(0.8) rotate(0deg);
    }
    to {
        transform:scale(0.8) rotate(360deg);
    }
}

.corona {
    position: absolute;
    transform: scale(0.05);
    animation: coronagrow 1s, coronamove 2s infinite;
    animation-delay: 0s, 1s;
}

.coronamutate {
    position: relative;
    transform: scale(0.8);
    animation: spin 2s infinite;
}
