@import 'fonts';
@import 'variables';
@import 'mixins';

/*---------- PROTESTER ----------*/
@keyframes protestermove {
  0% {transform: translate(0px,0px) scale(0.75)}
  25% {transform: translate(0px,-20px) scale(0.75) }
  50% {transform: translate(0px, 0px) scale(0.75) }
  75% {transform: translate(0px,-20px) scale(0.75)}
  100%{transform: translate(0px,0px) scale(0.75)}
}

.protester {
  transform: scale(0.75);
  animation: protestermove 4s infinite;
  animation-delay:0.25s;
}

/*---------- NOISE ----------*/
@keyframes noisegrow {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(0.15);
  }
}

@keyframes noisemove {
  0% {transform:rotate(-10deg) translate(0px,0px) scale(0.15)}
  25% {transform:rotate(10deg) translate(0px,-10px) scale(0.15) }
  50% {transform:rotate(-10deg) translate(0px, 0px) scale(0.15) }
  75% {transform:rotate(10deg) translate(0px,-10px) scale(0.15)}
  100%{transform:rotate(-10deg) translate(0px,0px) scale(0.15)}
}

.noise {
  transform: scale(0.15);
  animation: noisegrow 0.5s, noisemove 1s infinite;
  animation-delay:0s, 0.5s;
}

/*---------- FIST ----------*/
@keyframes fistgrow {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(0.1);
  }
}

@keyframes fistmove {
  0% {transform: translate(0px,0px) scale(0.1)}
  25% {transform: translate(0px,-10px) scale(0.1) }
  50% {transform: translate(0px, 0px) scale(0.1) }
  75% {transform: translate(0px,-10px) scale(0.1)}
  100%{transform: translate(0px,0px) scale(0.1)}
}

.fist {
  transform: scale(0.1);
  animation: fistgrow 0.5s, fistmove 2s infinite;
  animation-delay: 0s, 0.5s;
}

/*---------- SIGN ----------*/
.sign {
  transform: scale(0.1);
  animation: fistgrow 0.5, fistmove 2s infinite;
  animation-delay: 0s, 0.5s;
}
